.gaugeBox{

  width:280px;

  margin:10px auto;

}




.gaugeBar{

  width:100%;

  height:20px;

  border:1px solid white;

  position:relative;

  overflow:hidden;

}




.gaugeFill{

  width:0%;

  height:100%;

  background:lime;

  transition:0.05s;

}
