.gaugeBox{

  width:260px;

  margin:12px auto;

}




.gaugeBar{

  width:260px;

  height:24px;

  border:2px solid white;

  background:#222;

  box-sizing:border-box;

  overflow:hidden;

}




.gaugeFill{

  width:0%;

  height:100%;

  display:block;

  box-sizing:border-box;

}




#playerGauge{

  background:lime;

}




#enemyGauge{

  background:red;

}
