#list{

  display:grid;

  grid-template-columns:
    1fr 1fr;

  gap:20px;

  padding:20px;
}



.enemyCard{

  background:#222;

  border:1px solid #444;

  padding:20px;

  text-align:center;

  color:white;
}



.enemyImage{

  width:120px;

  height:120px;

  object-fit:contain;
}
