#side{

  width:220px;

  height:100vh;

  background:#181818;

  border-right:2px solid #333;

  box-sizing:border-box;

  padding:10px;

  overflow-y:auto;
}



#main{

  flex:1;

  height:100vh;

  display:flex;

  flex-direction:column;
}



/* 上タブ */
#tabs{

  display:flex;

  height:60px;

  border-bottom:2px solid #333;
}



.tabBtn{

  flex:1;

  border:none;

  background:#222;

  color:white;

  font-size:16px;
}



.tabBtn:hover{

  background:#333;
}



/* 敵カードエリア */
#topArea{

  flex:none;

  min-height:420px;

  border-bottom:2px solid #333;

  overflow-y:auto;
}



/* タブ切替 */
.tabPage{

  display:none;
}



.activePage{

  display:block;
}



/* 下のバトル画面 */
#battleArea{

  flex:1;

  display:flex;

  justify-content:center;

  align-items:center;

  overflow:auto;
}
