body {
  background:#111;
  color:#eee;
  font-family:monospace;
  margin:0;
}

/* 左ステータス */
#side {
  position:fixed;
  left:0;
  top:0;
  width:200px;
  height:100vh;
  background:#181818;
  border-right:2px solid #333;
  padding:10px;
  box-sizing:border-box;
}

/* メイン */
#main {
  margin-left:220px;
  height:100vh;
  display:flex;
  flex-direction:column;
}

/* 3分割 */
.section {
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* HPバー */
.bar {
  width:220px;
  height:16px;
  background:#333;
  position:relative;
}

/* 中身 */
.fill {
  height:100%;
  width:0%;
  background:lime;
}

/* HP数字（バー上） */
.hpText {
  position:absolute;
  width:100%;
  text-align:center;
  top:-18px;
  font-size:14px;
}
button {
  margin:5px;
  padding:10px;
  background:#333;
  color:white;
  border:1px solid #888;
}
