body{
  background:#111;
  color:#eee;

  font-family:monospace;

  margin:0;

  display:flex;
}


/* 左ステータス */
#side{

  width:220px;

  height:100vh;

  background:#181818;

  border-right:2px solid #333;

  box-sizing:border-box;

  padding:10px;

  overflow-y:auto;
}


/* 右 */
#main{

  flex:1;

  height:100vh;

  display:flex;

  flex-direction:column;
}


/* タブ */
#tabs{

  display:flex;

  height:60px;

  border-bottom:2px solid #333;
}


.tabBtn{

  flex:1;

  border:none;

  background:#222;

  color:white;

  font-size:16px;

  cursor:pointer;
}


.tabBtn:hover{

  background:#333;
}


/* 真ん中 */
#topArea{

  height:420px;

  border-bottom:2px solid #333;

  overflow-y:auto;
}


/* タブ中身 */
.tabPage{

  display:none;

  width:100%;

  height:100%;

  box-sizing:border-box;
}


.activePage{

  display:block;
}


/* 敵一覧 */
#list{

  display:grid;

  grid-template-columns:
    1fr 1fr;

  gap:14px;

  padding:14px;

  box-sizing:border-box;
}


/* 敵カード */
.enemyCard{

  height:300px;

  padding:12px;

  box-sizing:border-box;

  font-size:16px;

  cursor:pointer;

  display:flex;

  flex-direction:column;

  justify-content:flex-start;

  align-items:center;

  text-align:center;

  overflow:hidden;
}


/* 敵アイコン */
.enemyIcon{

  font-size:72px;

  margin-bottom:8px;

  flex-shrink:0;
}


/* バトル */
#battleArea{

  flex:1;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;
}


/* バー */
.bar{

  width:180px;

  height:14px;

  background:#333;

  position:relative;

  margin:8px 0;
}


.fill{

  height:100%;

  width:0%;

  background:lime;
}


.hpText{

  position:absolute;

  top:-16px;

  width:100%;

  text-align:center;

  font-size:12px;
}


/* ボタン */
button{

  margin:5px;

  padding:8px;

  background:#333;

  color:white;

  border:1px solid #888;
}


/* 素材 */
.itemRow{

  margin:4px 0;
}


.itemIcon{

  display:inline-block;

  width:24px;
}
