body{
  background:#111;
  color:#eee;

  font-family:monospace;

  margin:0;

  display:flex;
}


/* 左ステータス */
#side{

  width:220px;

  height:100vh;

  background:#181818;

  border-right:2px solid #333;

  box-sizing:border-box;

  padding:10px;

  overflow-y:auto;
}


/* 右全体 */
#main{

  flex:1;

  height:100vh;

  display:flex;

  flex-direction:column;
}


/* 上タブ */
#tabs{

  display:flex;

  height:60px;

  border-bottom:2px solid #333;
}


.tabBtn{

  flex:1;

  border:none;

  background:#222;

  color:white;

  font-size:16px;

  cursor:pointer;
}


.tabBtn:hover{

  background:#333;
}


/* 真ん中 */
#topArea{

  height:460px;

  border-bottom:2px solid #333;

  overflow-y:auto;
}


/* タブ切替 */
.tabPage{

  display:none;
}


.activePage{

  display:block;
}


/* 敵一覧 */
#list{

  display:grid;

  grid-template-columns:
    1fr 1fr;

  gap:20px;

  padding:20px;

  box-sizing:border-box;
}


/* 敵カード */
.enemyCard{

  height:400px;

  margin:0;

  padding:20px;

  box-sizing:border-box;

  display:flex;

  flex-direction:column;

  justify-content:flex-start;

  align-items:center;

  text-align:center;

  overflow:hidden;

  background:#222;

  border:1px solid #444;

  color:white;

  font-size:18px;

  cursor:pointer;
}


.enemyCard:hover{

  background:#2a2a2a;
}


/* モンスター画像 */
.enemyImage{

  width:120px;

  height:120px;

  object-fit:contain;

  display:block;

  margin-top:8px;

  margin-bottom:12px;
}


/* 名前 */
.enemyName{

  font-size:20px;

  margin-bottom:12px;
}


/* カード内HPバー */
.enemyHPBar{

  width:80%;

  height:12px;

  background:#333;

  border:1px solid #555;

  margin:8px 0;
}


.enemyHPFill{

  width:100%;

  height:100%;

  background:lime;
}


/* ステータス */
.enemyStats{

  margin-top:12px;

  line-height:1.6;
}


/* バトル画面 */
#battleArea{

  flex:1;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;
}


/* 共通バー */
.bar{

  width:180px;

  height:14px;

  background:#333;

  position:relative;

  margin:8px 0;
}


.fill{

  height:100%;

  width:0%;

  background:lime;
}


.hpText{

  position:absolute;

  top:-16px;

  width:100%;

  text-align:center;

  font-size:12px;
}


/* ボタン */
button{

  margin:5px;

  padding:8px;

  background:#333;

  color:white;

  border:1px solid #888;

  cursor:pointer;
}


button:hover{

  background:#444;
}


/* 素材 */
.itemRow{

  margin:4px 0;
}


.itemIcon{

  display:inline-block;

  width:24px;
}
